name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    # Only run if CI workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js App
        run: npm run build
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}

      - name: Build Docker Image
        run: |
          docker build -t gym-schedule-app:latest .

      - name: Save Docker Image as TAR
        run: |
          docker save gym-schedule-app:latest -o gym-schedule-app.tar

      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: gym-schedule-app.tar
