name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  docker-build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Build Artifact from CI
        uses: actions/download-artifact@v4
        with:
          name: nextjs-build
          path: .next

      - name: Show downloaded build
        run: ls -R .next

      - name: Build Docker Image
        run: docker build -t gym-schedule-app .

      - name: Save Docker Image as TAR
        run: docker save gym-schedule-app -o gym-schedule-app.tar

      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: gym-schedule-app.tar
