name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run Lint
      run: npm run lint

    - name: Run Build
      run: npm run build
      env:
        MONGODB_URI: ${{ secrets.MONGODB_URI }}

    - name: Upload Next.js Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: nextjs-build
        path: .next/
